/**
* This file defines basic styles. No classes. Only html tags.
*/

/*global variables*/
body {
    --max-wrapper-width: 1300px;
    --wrapper-width: 95%;
    --button-bg-color: var(--color-1);
    --button-hover-bg-color:  var(--color-6);
    --button-active-bg-color: var(--color-5);
    --button-active-class-bg-color: var(--color-6);
    --button-color: var(--gray-1);
    --button-disabled-color:var(--gray-1);
    --button-disabled-bg-color: var(--color-9);
    --button-hover-shadow: 0px 0px 2px var(--color-2);
    background-color: var(--almost-white);
}
*{
    box-sizing: border-box;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, a {
    color: var(--gray-6);
    font-family: var(--body-font);
    line-height: 1.5rem
}

pre, code {
    font-family: monospace;
    background-color: var(--color-10);
    padding: 0 0.25rem;
}
pre{
    overflow-x: auto;
    & code {
        padding: 0;
    }
}

html {font-size: 100%;} /*rem setting. 87.5%*/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--gray-5);
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 2.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 3rem;
}

h2 {
    font-size: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2.2rem;
}

h3 {
    font-size: 1.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2rem;
}

h4 {
    font-size: 1.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 2rem;

}

h5 {
    font-size: 1.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.75rem;
}

h6 {
    font-size: 1.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5rem;
}

p {
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
}


blockquote {
    position: relative;
    background-color: var(--contrast-color-2);
    font-style: italic;
    padding: 1rem 2rem;
    text-align: center;
}
blockquote::before{
    content: '"';
    font-size: 2rem;
    position: absolute;
    top: 0px;
    left: 1rem;
}
blockquote::after{
    content: '"';
    font-size: 2rem;
    position: absolute;
    bottom: -0.5rem;
    right: 1rem;
}


table {
    border-collapse: collapse;
}
td, th{
    padding: 0.5rem;
    border: 1px solid var(--gray-6);
}

/*******Forms*********/
textarea {
    width: 100%;
    resize:vertical; /*allows vertical redimension*/


}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="date"],
input[list],
textarea,
select
{
    padding: 0rem 0.25rem;
    background-color: transparent;
    border: 1px solid var(--gray-2);
    outline:;
    min-width: 10px;
    color: var(--gray-4);
    font: var(--body-font);
    font-size: 0.8em;

    &:focus{
        background-color: var(--black-transparent-2);
        color: var(--gray-6);
    }
    &:invalid{
        box-shadow: 0px 0px 4px orangered;
    }
    &:valid{
        box-shadow: 0px 0px 4px green;

    }
    &[disabled]{
        border-color: var(--gray-1)
    }
    
}
select{
    padding: 0.25rem;
}
.btn,
.btn-sm,
.btn-lg,
button,
input[type="submit"],
input[type="reset"] {
    padding: 0.5rem 1rem;
    border: none;

    cursor: pointer;
    border-radius: 5px;
    background-color: var(--button-bg-color);
    font-family: var(--body-font) ;
    font-size: 0.9rem;
    color: var(--button-color);
    &:hover,
    &:focus/*,
    &.active*/
    {
        background-color: var(--button-hover-bg-color);
        box-shadow: var(--button-hover-shadow);
    }
    &:active{
        background-color: var(--button-active-bg-color);
        box-shadow: none;
    }
    &.active{
        background-color: var(--button-active-class-bg-color);
    }
}
button[disabled]{
    color: var(--button-disabled-color);
    background-color: var(--button-disabled-bg-color);

    &:hover,
    &:focus{
        background-color: var(--button-disabled-bg-color);
        box-shadow: none;
    }
    &.active{
        background-color: var(--button-active-class-bg-color);
        color: var(--button-color);
    }
}

